@import "../../styles/main";

.cardstyle{
    background-color:#f7f8f9
    }

    .cadre {
        -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
             box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
             
    }
    .bordercoler{
     border-color: #F28482
    }